# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgres://root:rahasia@localhost:5432/kin8_restful_api"

POSTGRES_USER=example
POSTGRES_PASSWORD=example

APP_PROTOCOL=example
APP_HOST=example
APP_PORT=example

JWT_ACCESS_TOKEN_SECRET_KEY=rahasia
JWT_REFRESH_TOKEN_SECRET_KEY=rahasia

JWT_QRCODE_TOKEN_SECRET_KEY=example

GMAIL_MASTER=example
OAUTH2_CLIENT_SECRET=example
OAUTH2_CLIENT_ID=example
OAUTH2_REFRESH_TOKEN=example
